* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* background-color: blue; */
}

.main-wrapper {
    display: grid;
    height: 100%;
    grid-template-areas: 
    "t  t  t"
    "l  c  r"
    "b  b  b";
    grid-template-columns:20px 1fr 20px;
    grid-template-rows: 40px 1fr 40px;
}

.top {
    grid-area: t;
    background-color: rgb(209, 209, 209);
}

.left {
    grid-area: l;
    background-color: rgb(209, 209, 209);
}

.horizontal, .vertical {
    grid-area: c;
    align-self: center;
    /* padding: 25px; */
}

.horizontal {
    display: block;
    margin: 0 auto;
    width: 90vw;
    max-width: 1000px;
    /* height: 80vh; */
}

.vertical {
    display: none;
}

.right {
    grid-area: r;
    background-color: rgb(209, 209, 209);
}

.bottom {
    grid-area: b;
    background-color: rgb(209, 209, 209);
}


@media screen and (max-width: 500px) {
   
    .vertical {
        display: block;
    }

    .horizontal {
        display: none;
    }

}

.mask {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: strokeOffset 0.2s linear forwards;
}

@keyframes strokeOffset {
    to {
        stroke-dashoffset: 0;
    }
}


/* #v-text-hi-group {
    transform: translateX(0px);
    fill: red;
    z-index: 10;
    filter: blur(5px) drop-shadow(16px 16px 10px black);
    } */

#mask-v-text-hi-h {
    animation-delay: 0.15s;
}
#mask-v-text-hi-i1 {
    animation-delay: 0.3s;
}
#mask-v-text-hi-i2 {
    animation-delay: 0.45s;
}
#mask-v-text-hi-end1 {
    animation-delay: 0.6s;
}
#mask-v-text-hi-end2 {
    animation-delay: 0.75s;
}
#mask-v-text-my-m {
    animation-delay: 0.9s;
}
#mask-v-text-my-y {
    animation-delay: 1.05s;
}
#mask-v-text-name-n {
    animation-delay: 1.2s;
}
#mask-v-text-name-a {
    animation-delay: 1.35s;
}
#mask-v-text-name-m {
    animation-delay: 1.5s;
}
#mask-v-text-name-e {
    animation-delay: 1.65s;
}
#mask-v-text-is-i1 {
    animation-delay: 1.8s;
}
#mask-v-text-is-i2 {
    animation-delay: 1.95s;
}
#mask-v-text-is-s {
    animation-delay: 2.1s;
}
#mask-v-text-karl-k1 {
    animation-delay: 2.25s;
}
#mask-v-text-karl-k2 {
    animation-delay: 2.4s;
}
#mask-v-text-karl-a {
    animation-delay: 2.55s;
}
#mask-v-text-karl-r {
    animation-delay: 2.7s;
}
#mask-v-text-karl-l {
    animation-delay: 2.85s;
}

