* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* background-color: blue; */
}

.main-wrapper {
    display: grid;
    height: 100%;
    grid-template-areas: 
    "t  t  t"
    "l  c  r"
    "b  b  b";
    grid-template-columns:20px 1fr 20px;
    grid-template-rows: 40px 1fr 40px;
}

.top {
    grid-area: t;
    background-color: rgb(209, 209, 209);
}

.left {
    grid-area: l;
    background-color: rgb(209, 209, 209);
}

.horizontal, .vertical {
    grid-area: c;
    align-self: center;
    /* padding: 25px; */
}

.horizontal {
    display: block;
    margin: 0 auto;
    width: 90vw;
    max-width: 1000px;
    /* height: 80vh; */
}

.vertical {
    display: none;
}

.right {
    grid-area: r;
    background-color: rgb(209, 209, 209);
}

.bottom {
    grid-area: b;
    background-color: rgb(209, 209, 209);
}

@media screen and (max-width: 500px) {
   
    .vertical {
        display: block;
    }

    .horizontal {
        display: none;
    }

}


